// Import the fonts
@font-face {
	font-family: 'Agenda-Black';
	src: url('@{font-path}/agenda-black.eot?#iefix') format('embedded-opentype'),
	     url('@{font-path}/agenda-black.woff') format('woff'),
		 url('@{font-path}/agenda-black.ttf')  format('truetype'),
		 url('@{font-path}/agenda-black.svg#Agenda-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}



// Import the fonts
@font-face {
	font-family: 'Agenda-Bold';
	src: url('@{font-path}/agenda-bold.eot?#iefix') format('embedded-opentype'),
		 url('@{font-path}/agenda-bold.woff') format('woff'),
	url('@{font-path}/agenda-bold.ttf')  format('truetype'),
	url('@{font-path}/agenda-bold.svg#Agenda-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Import the fonts
@font-face {
	font-family: 'Agenda-Light';
	src: url('@{font-path}/agenda-light.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}/agenda-light.woff') format('woff'),
	url('@{font-path}/agenda-light.ttf')  format('truetype'),
	url('@{font-path}/agenda-light.svg#Agenda-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Import the fonts
@font-face {
	font-family: 'Agenda-Medium';
	src: url('@{font-path}/agenda-medium.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}/agenda-medium.woff') format('woff'),
	url('@{font-path}/agenda-medium.ttf')  format('truetype'),
	url('@{font-path}/agenda-medium.svg#Agenda-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Import the fonts
@font-face {
	font-family: 'Agenda-Regular';
	src: url('@{font-path}/agenda-regular.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}/agenda-regular.woff') format('woff'),
	url('@{font-path}/agenda-regular.ttf')  format('truetype'),
	url('@{font-path}/agenda-regular.svg#Agenda-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Import the fonts
@font-face {
	font-family: 'Agenda-Semibold';
	src: url('@{font-path}/agenda-semibold.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}/agenda-semibold.woff') format('woff'),
	url('@{font-path}/agenda-semibold.ttf')  format('truetype'),
	url('@{font-path}/agenda-semibold.svg#Agenda-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Import the fonts
@font-face {
	font-family: 'Agenda-Thin';
	src: url('@{font-path}/agenda-thin.eot?#iefix') format('embedded-opentype'),
	url('@{font-path}/agenda-thin.woff') format('woff'),
	url('@{font-path}/agenda-thin.ttf')  format('truetype'),
	url('@{font-path}/agenda-thin.svg#Agenda-Thin') format('svg');
	font-weight: normal;
	font-style: normal;
}
