html, body{
	margin   : 0px 0px 0px 0px !important;
	padding  : 0px 0px 0px 0px !important;
	overflow : hidden;
	.select-disabled;
	.ng-leave{
		display : none;
	}

}

body{
	font-family      : verdana, arial, 'Bitstream Vera Sans', helvetica, sans-serif;
	background-color : #ffffff;
}

.btn{
	border           : thin solid #6a6d6d;
	height           : 247px;
	border-left      : none;
	border-top       : none;
	font-size        : 20pt;
	padding          : 0px 10px;
	font-family      : verdana, arial, 'Bitstream Vera Sans', helvetica, sans-serif;
	color            : @font-color;
	cursor           : pointer;
	background-color : #ffffff;

	.label{
		display        : block;
		padding-bottom : 10px;
	}

	img{
		height : 40%;
	}

	.select-disabled();
	&:focus, &:active, &.selected{
		background-color   : #f1f0f0;
		-moz-box-shadow    : inset 0 0 10px #000000;
		-webkit-box-shadow : inset 0 0 10px #000000;
		box-shadow         : inset 0 0 10px #000000;
	}

}

[class*=" col-"]{
	padding-left  : 0px;
	padding-right : 0px;

	&:nth-child(-n+4){
		border-top : thin solid #6a6d6d;
	}

	@media (max-width : 1199px){
		&:nth-child(4){
			border-top : none;
		}
	}
	@media (max-width : 990px){
		&:nth-child(3){
			border-top : none;
		}
	}
}

.blur{
	-webkit-filter : blur(2px);
	-moz-filter    : blur(2px);
	-o-filter      : blur(2px);
	-ms-filter     : blur(2px);
	//	filter: blur(2px);
	filter         : url(blur.svg#blur);
	filter         : progid:DXImageTransform.Microsoft.Blur(PixelRadius='2');
	pointer-events : none;
}

.modal{
	width       : 715px;
	height      : 700px;
	padding-top : 15px;
	position    : absolute;
	margin      : -350px 0px 0px -357px;
	top         : 50%;
	left        : 50%;

	.modal-content{
		width              : 100%;
		background-color   : #ffffff;
		border             : 1px solid #333333;
		position           : absolute;
		-webkit-box-shadow : 0px 0px 32px -6px rgba(0, 0, 0, 0.75);
		-moz-box-shadow    : 0px 0px 32px -6px rgba(0, 0, 0, 0.75);
		box-shadow         : 0px 0px 32px -6px rgba(0, 0, 0, 0.75);
	}
	.modal-header{
		font-family : verdana, arial, 'Bitstream Vera Sans', helvetica, sans-serif;
		color       : @font-color;
		position    : relative;
		h1{
			display : inline-block;
			padding : 0px 15px;

			+ button{
				display          : inline-block;
				border           : none;
				font-size        : 1.4em;
				width            : 25px;
				height           : 25px;
				text-align       : center;
				float            : right;
				background-color : transparent;
				background       : transparent url('/img/close.png') bottom center no-repeat;
				background-size  : 100%;
				margin           : 5px;

				&:focus{
					outline : none;
				}
			}
		}

	}
	.modal-body{
		height         : 430px;
		overflow-y     : auto;
		position       : relative;
		padding        : 0px 15px;
		color          : #45586a;
		font-size      : 12pt;
		padding-bottom : 50px;

		&::-webkit-scrollbar{
			width : 5px;
		}
		&::-webkit-scrollbar-thumb{
			border-radius      : 10px;
			-webkit-box-shadow : inset 0 0 6px rgba(0, 0, 0, 0.5);
		}
	}
	#bottom_fade{
		width      : 100%;
		height     : 50px;
		z-index    : 2;
		position   : absolute;
		bottom     : 165px;
		background : url("/img/bottom-fade.png") bottom center repeat-x;
		//		background-color: red;
		//		opacity: .5;
	}
	.modal-footer{
		position        : relative;
		height          : 165px;
		background-size : auto 100px;
		padding         : 0px 15px;
		&.drinks{
			background            : transparent url("/img/sponsors.jpg") bottom center no-repeat;
			background-position-y : 50px;
		}

		&.healthy{
			background            : transparent url("/img/healthy.jpg") bottom center no-repeat;
			background-position-y : 50px;
		}

		.arrow-down{
			width        : 0;
			height       : 0;
			border-style : solid;
			border-width : 28px 14px 0 14px;
			border-color : #929da7 transparent transparent transparent;
			margin       : 0px auto;
			cursor       : pointer;
		}

		.back, .next{
			font-family : verdana, arial, 'Bitstream Vera Sans', helvetica, sans-serif;
			color       : @font-color;
			font-size   : 13pt;
			position    : absolute;
			bottom      : 10px;
			cursor      : pointer;
			font-weight : bold;
			span{
				padding : 0px 10px;
			}
		}
		.back{
			left : 15px;
		}
		.next{
			right : 15px;
		}
	}
}

.modal-body{
	.pkg-desc{
		margin-bottom : 20px;
	}
	.title{
		span{
			display : block;
			&:first-child{
				font-weight : bold;
			}
			&:last-child{
				font-style : italic;
			}
		}
	}

	.items{
		padding-bottom : 25px;
		div{
			display : table-cell;

			&:first-child{
				width : 590px;
			}

			&:last-child{
				width      : 100px;
				text-align : right;
			}
		}
	}
}

.healthy-img{
	width           : 23px;
	height          : 20px;
	background      : transparent url("/img/healthy-icon.jpg") bottom center no-repeat;
	background-size : 23px 20px;
	display         : inline-block;
}

.center{
	display    : block;
	text-align : center;
	&.small{
		font-size : 10pt;
	}
}

.backdrop{
	position         : fixed;
	width            : 100%;
	height           : 100%;
	background-color : #ffffff;
	opacity          : .5;
}

#airport-selection, #feedback{
	font-family : verdana, arial, 'Bitstream Vera Sans', helvetica, sans-serif;
	text-align  : center;
	h1{
		color       : @font-color;
		font-size   : 4em;
		font-weight : normal;
		@media (max-width : 990px){
			font-size     : 3em;

		}
	}

	p, a{
		font-size : 14pt;
		@media (max-width : 990px){
			font-size     : 12pt;

		}
	}

	p{
		color                 : #394b75;
		-webkit-margin-before : 0px;
		-webkit-margin-after  : 0px;
	}

	a{
		color           : #394b75;
		font-weight     : bold;
		text-decoration : underline;
		position        : relative;
		&:before{
			content      : '';
			position     : absolute;
			right        : -35px;
			width        : 0;
			height       : 0;
			border-style : solid;
			border-width : 12px 20px 12px 0;
			border-color : transparent #394b75 transparent transparent;
		}
		&:after{
			content      : '';
			position     : absolute;
			left         : -35px;
			width        : 0;
			height       : 0;
			border-style : solid;
			border-width : 12px 0px 12px 20px;
			border-color : transparent transparent transparent #394b75;
		}
	}
}

#feedback{
	width      : 100%;
	height     : 100%;
	min-height : 738px;
	padding    : 15% 15% 0px;
	position   : absolute;

	@media (max-width : 990px){
		min-height    : 1220px;

	}
}

#airport-selection{
	height : 347px;
	margin : -220px 0px 0px -357px;

	h1{
		font-size : 40px;
	}

	.modal-body{
		padding-bottom : 10px;
		height         : 347px;
	}

	.airport-selector{
		width  : 500px;
		margin : 50px auto 45px;
		select{
			width  : 100%;
			height : 45px;
			background-color: white;
			&:focus{
				border-color: rgb(169, 169, 169);
				outline: none;
			}
		}
	}

	button{
		font-family         : verdana, arial, 'Bitstream Vera Sans', helvetica, sans-serif;
		text-align          : center;
		display             : inline-block;
		margin-bottom       : 0;
		font-weight         : 400;
		white-space         : nowrap;
		vertical-align      : middle;
		cursor              : pointer;
		-webkit-user-select : none;
		-moz-user-select    : none;
		-ms-user-select     : none;
		user-select         : none;
		background-image    : none;
		border              : 1px solid #d21900;
		color               : #ffffff;
		background-color    : #d21900;
		padding             : 10px 16px;
		font-size           : 18px;
		line-height         : 1.33;
		border-radius       : 6px;
	}

}

.hide-mobile{
	@media (max-width : 991px){
		display       : none;
	}
}