<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=yes, date=no">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	<% if (config.environment === 'dev') { %>
	<!--
	Add some additional reading for meta tags within the dev enviroment
	https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
	-->
	<link rel="stylesheet/less" type="text/css" href="/css/styles.less">
	<script>
		less = {
			env: "development",
			async: true,
			dumpLineNumbers: "mediaQuery"
		};
	</script>
	<script type="text/javascript" src="/lib/less.js/dist/less-1.7.0.min.js"></script>
	<% } else { %>
	<style><% print	(config.css_sources); %></style>
	<% } %>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div data-ng-view></div>


<% if (config.environment === 'dist') { %>
<script type="text/javascript"><%print(config.js_sources);%></script>
<% } else { %>
<script type="text/javascript" data-main="/js/main" src="/lib/requirejs/require.js"></script>
<% } %>


</body>
</html>
