<div id="feedback">
	<h1>
		We care what you think.
	</h1>

	<p>
		If you would like to share your thoughts, please visit:
	</p>
	<br>

	<div class="anchor"><a href="http://aa.com/admiralsclubfeedback">aa.com/admiralsclubfeedback</a></div>
	<br>

	<p>
		Thank you from all of us at the Admirals Club team. Your feedback will be instantly received by the Admirals Club manager.
	</p>
</div>

