<div id="menuItems" ng-class="{'blur':modal.active}">

	<button class="btn col-lg-3 col-md-4 col-sm-6 col-xs-6" data-ng-repeat="items in menuItems" data-ng-click="setModal('{{items.file}}')" id="{{items.file}}">
		<span class="label" data-ng-bind="items.title"></span>
		<img src="{{items.img}}" data-ng-show="items.img"/>
	</button>


</div>

<div class="backdrop" data-ng-show="backdrop.active">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
		<filter id="blur">
			<feGaussianBlur stdDeviation="2"/>
		</filter>
	</svg>
</div>
<div class="backdrop" data-ng-click="removeModal()" data-ng-show="modal.active">
	<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
		<filter id="blur">
			<feGaussianBlur stdDeviation="2"/>
		</filter>
	</svg>
</div>
<div class="modal" data-ng-show="modal.active">
	<div class="modal-content">
		<div class="modal-header">
			<h1 data-ng-bind="modal.header"></h1>
			<button class="close-btn" data-ng-click="removeModal()"><i class="custom-close-img"></i></button>
		</div>
		<div class="modal-body">
			<div id="scroll">
				<div class="pkg-desc" data-ng-bind-html="modal.subHeading"></div>
				<div data-ng-repeat="package in modal.packages" data-ng-show="package.display">
					<div class="title">
						<span data-ng-bind-html="package.title"></span>
						<span data-ng-bind-html="package.subTitle"></span>
					</div>
					<div class="items" data-ng-repeat="item in package.items" data-ng-show="item.display">
						<div data-ng-bind-html="item.desc"></div>
						<div data-ng-bind-html="item.price"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="bottom_fade"></div>
		<div class="modal-footer {{modal.footer}}">
			<div class="arrow-down" data-ng-show="modal.arrow" data-ng-click="scrollDown()"></div>
			<div class="back" data-ng-click="back()"><span>‹</span>Back</div>
			<div class="next" data-ng-click="next()" data-ng-show="nextButton">Next<span>›</span></div>
		</div>
	</div>
</div>


<div class="modal" id="airport-selection" data-ng-show="selectAirport.active">
	<div class="modal-content">
		<div class="modal-header">
			<h1 data-ng-bind="modal.header"></h1>
		</div>
		<div class="modal-body">
			<h1>
				Please select your Airport.
			</h1>

			<form novalidate class="simple-form">
				<div class="airport-selector">
					<select class="form-control" ng-model="myAirport">
						<option ng-repeat="airport in allAirports" value="{{airport.faa_code}}">{{airport.name}} - {{airport.faa_code}}</option>
					</select>
				</div>

				<div class="airport-button">
					<button type="button" ng-click="updateAirport(myAirport)">Submit</button>
				</div>

			</form>

		</div>
	</div>
</div>

